@charset 'utf-8';

$baseColor: #ffffff;
$textColor: #000000;
$primaryColor: #d8b038;
$primaryTextColor: #f0f0e8;
$sub1Color: #787060;
$sub2Color: #e0d8d8;

$citationColor: #dedee2;
$citationTextColor: #333338;

$disabledTextColor:#999999;


.icon-loading {
	position: absolute;
	width: 25px;
	height: 25px;
	top: calc(50% - 12px);
	left: calc(50% - 12px);
}
